/**
 * Angular-Dynamic-Locale v0.1.2
 *
 * @author: Carey Hinoki <carey.hinoki@gmail.com> (http://careyhinoki.me/)
 * @date: 2014-02-26
 */

body,
h1,
h2 {
  font-family: Lato, sans-serif;
}
table {
  width: 100%;
}
figure {
  text-align: center;
  width: 35px;
}
figcaption p {
  color: #999;
  font-size: 12px;
}
.top-bar {
  margin-bottom: 30px;
}
.symbol {
  font-size: 20px;
}
